{% extends 'agvoybase.html.twig' %}

{% block main %}
    	
	<div class="circuit">
    	<h2>
       		{{ circuit.description }}
       	</h2>
    	
    	<div class="container">
			<div class="row">		
				<h3 class="centered">DETAILS</h3>
				<hr>	
				<div class="col-lg-12">
						<p>Description: {{ circuit.description }} </p>
						<p>Départ de {{ circuit.villeDepart }} pour {{ circuit.dureeCircuit }} j. de voyage à travers le {{ circuit.paysDepart }}, pour terminer à {{ circuit.villeArrivee }}.</p>
				</div>
			</div>
			<div class="row">		
				<h3 class="centered">ETAPES</h3>
				<hr>	
				<div class="col-lg-12">
		 			<table class="table table-hover">
		 				<thead>
							<tr style="font-size:16px">
				    			<th class=" text-center">Numéro</th>
								<th class=" text-center">Ville</th>
								<th class=" text-center">Nombre jours</th>
							</tr>
						</thead>
						<tbody  class=" text-center">
 			                {% for etape in circuit.etapes %}
	 						<tr style="font-size:16px">
			   					<td>{{ etape.numeroEtape }}</td>
			   					<td>{{ etape.villeEtape }}</td> 
			   					<td>{{ etape.nombreJours }} j.</td>
							</tr>
			                {% endfor %} {# circuit.etapes #}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
		<div class="container">
			<div class="row">		
				<h3 class="centered">PROGRAMMATIONS de ce circuit</h3>
				<hr>	
				<div class="col-lg-12">
				<table class="table table-hover">
		 			<thead>
						<tr style="font-size:16px" class=" text-center">
				    		<th class=" text-center">Date de départ</th>
							<th class=" text-center">Nombre de personnes</th>
							<th class=" text-center">Prix</th>
						</tr>
					</thead>
		            <tbody  class=" text-center">
			                {%  for programmation in circuit.programmations %}
						<tr style="font-size:16px">
			   				<td>{{ programmation.dateDepart|date('d-m-Y')  }}</td>
			   				<td>{{ programmation.nombrePersonnes }}</td> 
			   				<td>{{ programmation.prix }} euros</td>
						</tr>
		                {% endfor %}
		            </tbody>
				</table>
				</div>
			</div>
		</div> 
		
		<div class="container">
			<div class="row">		
				<h3 class="centered">COMMENTAIRES</h3>
				<hr>	
				<div class="col-lg-12">
                     {{ form_start(form) }}
                     {{ form_widget(form) }}
                     {{ form_end(form) }}
                  <ul>
                     {% for commentaire in circuit.commentaires %}
                  	<li>
                         <strong>By {{ commentaire.userName }} on {{ commentaire.date|localizeddate('medium', 'short', null, 'Europe/Paris') }}:</strong>
                         <br>
                         {{ commentaire.description }}
                	</li>
                     {% endfor %}
         		</ul>
    			</div>
    		</div>
		</div> {# circuit #}
		
		
		<div class="container">
			<div class="row">
			<br>
				<hr>
				
				<div class="col-lg-4">
					<button type="button" class="btn btn-primary" href="{{ path('circuit_index') }}">
  						Retour à la liste
					</button>
				</div>
				<div class="col-lg-4"></div>
				<div class="col-lg-4"></div>
				</div><!-- row -->
		<br>
		</div><!-- container -->      
    
{% endblock %}  {# main #}
